/* Basic styling similar to login and register forms */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #283048, #859398);
}

.forgot-password-container {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-input-group {
    margin-bottom: 20px;
}

.forgot-input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.forgot-input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.forgot-input-group input:focus {
    border-color: #007bff;
}

/* -- Dealing with outline of new password input -- */
.forgot-input-group input[name="newPassword"].valid:focus {
    border-color: green;
}
.forgot-input-group input[name="newPassword"].invalid:focus {
    border-color: red;
}

/* -- Dealing with outline of password input validity messages -- */
.forgot-input-group p.valid {
    color: green;
}
.forgot-input-group p.invalid {
    color: red;
}

/* -- Dealing with outline of confirmPassword input -- */
.forgot-input-group input[name="confirmNewPassword"].match:focus {
    border-color: green;
}
.forgot-input-group input[name="confirmNewPassword"].mismatch:focus {
    border-color: red;
}

/* -- Dealing with status message of confirmPassword input -- */
.forgot-input-group p {
    font-size: 15px;
}
.forgot-input-group p.match {
    color: green;
}
.forgot-input-group p.mismatch {
    color: red;
}

.forgot-submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #3d3d3d;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.forgot-submit-btn:hover {
    background-color: #007bff;
}

#confirmNewPassword:disabled {
    cursor: not-allowed;
}

.forgot-submit-btn:disabled {
    background-color: #858484;
    cursor: not-allowed;
}

.forgot-submit-btn:disabled:hover {
    background-color: #858484;
}

@media (max-width: 768px) {
    .forgot-password-container {
        width: 90%;
        margin-bottom: 20px;
    }
}