/* CSS copied over from style.css with updated class names */

/* New */
.error-message {
    color: #ff0000;
    margin-bottom: 20px;
    text-align: center;
}

.register {
    height: 100vh;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
}

.register .register-page-container,
.accept-request-page-container {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 90%;
    margin-bottom: 20%;
}

.register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register .register-input-group,
.formInputGroup {
    margin-bottom: 20px;
}

.request-form-subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.register .register-input-group label,
.formInputGroup label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.register .register-input-group input,
.register .register-input-group select,
.formInputGroup Select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.register .register-input-group input:focus,
.register .register-input-group select:focus,
.formInputGroup Select:focus {
    border-color: #007bff;
}

/* -- Dealing with outline of password input -- */
.register .register-input-group input[name="password"].valid:focus {
    border-color: green;
}
.register .register-input-group input[name="password"].invalid:focus {
    border-color: red;
}

/* -- Dealing with outline of password input validity messages -- */
.register .password-requirements p.valid {
    color: green;
}
.register .password-requirements p.invalid {
    color: red;
}

/* -- Dealing with outline of confirmPassword input -- */
.register .register-input-group input[name="confirmPassword"].match:focus {
    border-color: green;
}
.register .register-input-group input[name="confirmPassword"].mismatch:focus {
    border-color: red;
}

/* -- Dealing with status message of confirmPassword input -- */
.register .register-input-group p {
    font-size: 15px;
}
.register .register-input-group p.match {
    color: green;
}
.register .register-input-group p.mismatch {
    color: red;
}

/* Submit button styling */
.register .register-submit-btn,
.form-submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #3d3d3d;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.register .register-submit-btn:hover,
.form-submit-btn:hover {
    background-color: #007bff;
}

#confirmPassword:disabled {
    cursor: not-allowed;
}

.register-submit-btn:disabled,
.form-submit-btn:disabled {
    background-color: #858484;
    cursor: not-allowed;
}

.register-submit-btn:disabled:hover,
.form-submit-btn:disabled:hover {
    background-color: #858484;
}

@media (max-width: 768px) {
    .register .register-page-container {
        width: 90%;
        margin-bottom: 20px;
        margin-top: 80px;
    }
}