/* General resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page background and container */
body {
    background-image: linear-gradient(to bottom right, #283048, #859398);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

input:disabled,
select:disabled {
    cursor: not-allowed;
}

/* Dashboard layout */
.account,
.chartOfAccount {
    display: flex;
    width: 100%;
    max-width: 1550px;
}

/* Main content styles */
.account .main-content,
.chartOfAccount .main-content {
    width: 170vh;
    /*This is a tempory solution, need to make to change with the window size*/
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    /* This should already be here */
    align-items: center;
    /* Ensure vertical alignment */
    width: 100%;
    margin-bottom: 40px;
    flex-grow: 1;
}

.header-main {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

/* Align user profile section with filters */
.user-profile {
    display: flex;
    align-items: center;
    /* Align items vertically */
    gap: 10px;
}

/* Make sure the profile image and name are properly aligned */
.pfp {
    width: 40px;
    /* Set a consistent width for profile picture */
    height: 40px;
    /* Set a consistent height for profile picture */
    border-radius: 50%;
    /* Make it circular */
}

.profile-name {
    font-size: 16px;
    /* Adjust font size if necessary */
}

/* This was added for the Account Ledger Button/Link*/
.action-button2 {
    text-decoration: none;
}

.account .action-button1,
.chartOfAccount .action-button1,
.dashboard .action-button1 {
    padding: 10px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.account .action-button1:hover,
.chartOfAccount .action-button1:hover {
    background-color: #1c4a7c;
}

.account .action-button2,
.chartOfAccount .action-button2 {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.account .action-button2:hover,
.chartOfAccount .action-button2:hover {
    background-color: #1c4a7c;
}

/* Table filter styles */
.account .table-filter,
.chartOfAccount .table-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.account-title {
    font-size: 1.5em;
    margin-bottom: 1%;
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}

/* Table styles */
.account .account-table,
.chartOfAccount .account-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

.account .account-table th,
.account .account-table td,
.chartOfAccount .account-table th,
.chartOfAccount .account-table td {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

.account .account-table th,
.chartOfAccount .account-table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.account .account-table .account-name,
.chartOfAccount .account-table .account-name {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.account .link-button,
.chartOfAccount .link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
}

.account .account-role-link,
.account .account-active-link,
.chartOfAccount .account-role-link,
.chartOfAccount .account-active-link {
    color: #000000;
    text-decoration: underline;
}

.account .account-active-link:hover,
.account .link-button:hover,
.chartOfAccount .account-active-link:hover,
.chartOfAccount .link-button:hover {
    color: #0056b3;
}

.content-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.back-btn {
    align-self: flex-end;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: lighter;
}

.back-btn:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    max-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-content form {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
    margin-bottom: 20px;
}

.account .modal-content form .form-sub-title {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
    flex-direction: column;
}

.account .modal-content form .form-sub-title .name {
    text-decoration: none;
    color: #007bff;
    font-weight: lighter;
    padding-bottom: 2%;
}

.account .modal-content .form-group {
    margin-bottom: 20px;
}

.account .modal-content .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.account .modal-content .form-group input,
.account .modal-content .form-group textarea,
.account .table-filter .search-filter input,
.chartOfAccount .table-filter .search-filter input,
.eventLogs .table-filter .search-filter input,
.journalize .table-filter .search-filter input {
    height: 35px;
    width: 100%;
    /* Adjust width as needed */
    margin-left: 10px;
    /* Spacing between label and input */
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    /* Transparent background */
    border: none;
    border-bottom: 2px solid #3d3d3d;
    /* Dark border at the bottom */
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 15px;
}

.account .modal-content .form-group input:focus,
.account .modal-content .form-group textarea:focus,
.account .table-filter .search-filter input:focus,
.chartOfAccount .table-filter .search-filter input:focus,
.journalize .table-filter .search-filter input:focus {
    border-color: #007bff;
}


.date-filter,
.balance-filter {
    display: flex;
    align-items: center;
}

.date-filter input[type="date"],
.balance-filter input[type="tel"] {
    height: 30px;
    width: 105px;
    /* Adjust width as needed */
    margin-left: 10px;
    /* Spacing between label and input */
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    /* Transparent background */
    border: none;
    border-bottom: 2px solid #3d3d3d;
    /* Dark border at the bottom */
    outline: none;
    transition: border-color 0.3s ease;
}

.balance-filter input[type="tel"] {
    width: 100px;
}

.date-filter input[type="date"]:focus,
.balance-filter input[type="tel"]:focus {
    border-bottom-color: #007bff;
    /* Background color change on focus */
}

.table-filter input:focus {
    box-shadow: none;
}

.date-filter label,
.balance-filter label {
    font-weight: bold;
    margin-right: 10px;
}

.balance-filter input {
    width: 80px;
    /* Slightly narrower for balance inputs */
}

.account .modal-content .form-group textarea {
    height: 150px;
    resize: none;
}

.modal-content .modal-btns {
    display: flex;
    text-align: center;
    gap: 10px;
}

.modal-content .modal-btns:disabled {
    background-color: #858484;
    cursor: not-allowed;
}

.modal-btns .send-button,
.modal-btns .cancel-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.account .modal-btns .send-button:hover,
.account .modal-btns .cancel-button:hover {
    background-color: #1c4a7c;
}

.modal-btns .cancel-button {
    background-color: #dc3545;
}

.modal-btns .cancel-button:hover {
    background-color: #a52a2a;
}

.account .close,
.chartOfAccount .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.account .close:hover,
.chartOfAccount .close:hover {
    color: #ff0000;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.modal-content input:focus,
.modal-content select:focus {
    border-color: #007bff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .users .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .users .main-content {
        margin-left: 0;
    }
}