/* General resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page background and container */
body {
    background-image: linear-gradient(to bottom right, #283048, #859398);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Dashboard layout */
.eventLogs {
    display: flex;
    width: 100%;
    max-width: 1550px;
}

/* Main content styles */
.eventLogs .main-content {
    width: 170vh;         /*This is a tempory solution, need to make to change with the window size*/
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: hidden;
}

.eventLogs .header-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Flexbox alignment for header and button */
.eventLogs .header-title {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.user-profile {
    display: flex;
    text-align: right;
    align-items: right;
    margin: auto;
    gap: 10px;
}

.profile-name {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.action-button1 {
    padding: 10px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.tab-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.tabs {
    padding: 4mm;
    width: 35%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    background: rgb(174, 174, 174, 0.4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.active-tabs {
    background: white;
    border: 4px;
    padding: 4mm;
    border-bottom: #fff;
    width: 35%;
    text-align: center;
    cursor:default;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 73%;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.active-content {
    display: block;
    overflow-y: auto;
}

.chart-logs-table, .user-logs-table, .login-logs-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
    font-size: small;
}

.search-filter input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-filter input:focus {
    border-color: #007bff;
}

.search-filter {
    margin-bottom: 0.5%;
}

.table-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

table ul li {
    list-style-type: none;
}