/* General resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page background and container */
body {
    background-image: linear-gradient(to bottom right, #283048, #859398);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sidebar-button {
    text-underline-offset: -100000px;
}

/* Dashboard layout */
.users {
    display: flex;
    width: 100%;
    max-width: 1550px;
}

/* Main content styles */
.users .main-content {
    width: 170vh;         /*This is a tempory solution, need to make to change with the window size*/
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: hidden;
}

.users .header-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Flexbox alignment for header and button */
.users .header-title {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.users .action-button1 {
    padding: 10px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.users .action-button1:hover {
    background-color: #1c4a7c;
}

.users .action-button2 {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

.users .action-button2:hover {
    background-color: #1c4a7c;
}


/* Table styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.users .user-table .users-name {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.users .user-table .users-name #single-email {
    margin-right: 5%;
    font-size: 12px;
    padding: 5px 12px;
}

.users .link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
}

.users .user-role-link,
.users .user-active-link {
    color: black;
}

.users .link-button:hover {
    color: #0056b3;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content,
.modal-expired-content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    max-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.users .modal-expired-content {
    width: 150vh;
}

.users .modal-expired-content .expired-table {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
    margin-bottom: 20px;
}

.modal-content form {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
    margin-bottom: 20px;
}

.users .modal-content form .form-sub-title{
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}

.users .modal-content form .form-sub-title .name {
    text-decoration: underline;
}

.users .modal-content .form-group {
    margin-bottom: 20px;
}

.users .modal-content .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.users .modal-content .form-group input,
.users .modal-content .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.users .modal-content .form-group input:focus,
.users .modal-content .form-group textarea:focus {
    border-color: #007bff;
}

.users .modal-content .form-group textarea {
    height: 150px;
    resize: none;
}

.modal-content .modal-btns {
    display: flex;
    text-align: center;
    gap: 10px;
}

.modal-content .modal-btns:disabled {
    background-color: #858484;
    cursor: not-allowed;
}

.modal-btns .send-button,
.modal-btns .cancel-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.users .modal-btns .send-button:hover,
.users .modal-btns .cancel-button:hover {
    background-color: #1c4a7c;
}

.users .modal-btns .cancel-button {
    background-color: #dc3545;
}

.users .modal-btns .cancel-button:hover {
    background-color: #a52a2a;
}

.users .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.users .close:hover {
    color: #ff0000;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.users .modal-content .state-select {
    margin-bottom: 10px;
}

.modal-content input:focus,
.modal-content select:focus {
    border-color: #007bff;
}

.users .expired-passwords-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.users .expired-passwords-table th, .expired-passwords-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.users .expired-passwords-table th {
    background-color: #f4f4f4;
}

.users .expired-passwords-table li {
    list-style: none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .users .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .users .main-content {
        margin-left: 0;
    }
}
