* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #283048, #859398);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Center the header with absolute positioning */
.img-heading {
  position: absolute;
  top: 0;
  left: 42.25%;
  transform: translateX(-50%); /* Center horizontally */
  text-align: center;
  z-index: 1; /* Ensure it's above other content */
}

/* Style the logo with a white, rounded background */
.logo {
  padding: 20px;
  height: 212px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.9); /* White background */
  border-radius: 60%; /* Rounded background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dashboard .logo,
.users .logo {
  position: relative;
}

.login-container, .register-link {
  width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.register-link {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3d3d3d;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #3d3d3d;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-bottom-color: #007bff;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  color: #999;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  left: 0;
  font-size: 12px;
  color: #3d3d3d;
  transform: translateY(-50%);
}

.login-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn {
  width: 50%;
  padding: 10px;
  background-color: #3d3d3d;
  color: #fff;
  border: none;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.forgot {
  width: 50%;
  padding: 10px;
  color: #3d3d3d;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}

.forgot:hover {
  color: #858484;
}

.register-link:hover,
.submit-btn:hover {
  background-color: #858484;
}

button:disabled {
  background-color: #858484;
  cursor: not-allowed;
}

.actions {
  text-align: center;
}